
# Ignore backup copies files
*~

# Ignore stale lock files 
\#*#

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temp and touch files
*.temp
*.done

# Ignore local snakemake (include .snakemake/conda/)
.snakemake
.gevarli_cache

# Ignore .pyc
__pycache__

# Ignore fasta indexes
*.fai

# Ignore resources, as indexes/ and reads/ directories
/resources/indexes
/resources/reads/*.fastq.gz
!/resources/data_test/

# Ignore HOST genomes (too larges)
resources/genomes/HOST_*

# Ignore nextclade datasets (downloaded on demand)
resources/nextclade/*
!resources/nextclade/.gitkeep

# Ignore GISAID binary executables
workflow/scripts/gisaid/linux/covCLI
workflow/scripts/gisaid/osx/covCLI

# Ignore downloaded virus genomes (fetched on demand from NCBI)
resources/genomes/viruses/*.fasta
!resources/genomes/viruses/.gitkeep

# Ignore heavy fastq-screen genomes
resources/genomes/fastq-screen/Echerichia-coli_*.fasta
resources/genomes/fastq-screen/Loa-loa_*.fasta
resources/genomes/fastq-screen/UniVec_*.fasta

# Ignore minimap2 indexes
*.mmi

# Ignore bwa indexes
*.amb
*.ann
*.bwt
*.pac
*.sa

# Ignore bowtie2 indexes
*.bt2
*.bt2l

# Ignore results/ directories
/results*/
/results
/archives/
*.tar.gz

# Ignore graphviz dot files
*.dot

# Ignore public/ directory
/public