
# Ignore backup copies files
*~

# Ignore stale lock files 
\#*#

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temp and touch files
*.temp
*.done

# Ignore local snakemake (include .snakemake/conda/)
.snakemake

# Ignore (raw) reads (commented because test_data fastq files)
#*.fastq
#*.gz
#*.fastq.gz

# Ignore fasta indexes
*.fai

# Ignore indexes directory
/resources/indexes
/resources/reads/*.fastq.gz

# Ignore bt2 indexes
*.bt2
*.bt2l

# Ignore baw indexes
*.amb
*.ann
*.bwt
*.pac
*.sa

# Ignore results
/results
/Results*
/*_archive.tar.gz